.App-header{
  background-image:     linear-gradient(
                        rgba(0, 0, 0, 0.45),
                        rgba(0, 0, 0, 0.45)
                        ),
                        url('/img/banner.jpg');
  background-position: center;
  background-size: 100%;
}